.create{
    min-height: 45rem;
    background-image: url('../imagenes/Fondos\ de\ pantalla\ de\ comida\ -\ FondosMil_files/35741.jpg');
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: soft-light;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.backImage{
    width: 2rem;
    height: 2rem;
}



.formContainer{
    background-color: rgba(0,0,0,0.7);
    height: 46rem;
    width: 25rem;
    margin-left: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
}
.form{
    width: 25rem;
    height: 42rem;
    font-family: 'Roboto', sans-serif;
}
.textContainer{
    margin-bottom: 3rem;
    margin-top: 2rem;
    color: #FFDD2D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    font-size: 0.8rem;
}

.label{
    margin-bottom: 0.2rem;
}

input{
    width: 20rem;
    height: 1.5rem;
    border-radius: 0.4rem;
    border: 2px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dietSelect{
    width: 20.5rem;
    height: 2rem;
    border-radius: 0.4rem;
    border: 2px solid black;
}

.dietsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 6rem;
}

.diet{
    font-size: 0.9rem;
    background-color: #FFDD2D;
    margin: 0.3rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
}

.submitContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.submit{
    background-color: #FFDD2D;
    color: black;
    height: 2rem;
    width: 40%;
    border: 2px solid #FFDD2D;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.submit:hover{
    background-color: rgb(3, 3, 3);
    color: #FFDD2D;
}

.errorContainer{
    color: red;
    border: 2px solid red;
    margin-top: 0.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 0.65rem;
    width: 90%;
}

.errorText{
    margin: 0.1rem;
}

.okContainer{
    color: rgb(34, 153, 23);
    border: 2px solid rgb(34, 153, 23);
    margin-top: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.okText{
    margin: 0.3rem;
}
